html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0;
}

body {
  background-color: #272727;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

table.bp4-html-table th, .bp4-running-text table th, table.bp4-html-table td, .bp4-running-text table td {
  padding: 4px;
  padding-right: 12px;
  padding-left: 6px;
}
